examples/09-Node-Flex-Connector-Runtime-Switch.json
[
  {
    "id": "8d3eed3a30b346f6",
    "type": "tab",
    "label": "09 Flex-Connector",
    "disabled": false,
    "info": "NODE: Modbus-Flex-Connector (runtime endpoint switch)\n\nFEATURES IN THIS FLOW\n- Reconnect the shared Modbus-Client to another TCP (or serial) endpoint at runtime\n- Two local Modbus-Servers (A=10510, B=10511) to demonstrate switching\n- Ongoing Modbus-Read continues against whichever endpoint is active\n\nWHAT THE CONFIG DOES\n- Client starts on Server A (tcpPort 10510)\n- Flex-Connector msg.payload: { connectorType:'TCP', tcpHost, tcpPort }\n- Serial switch uses connectorType SERIAL + serial* fields (not shown here)\n- Read node keeps using the same client config \u2014 only the socket target changes\n\nHOW TO RUN\n1) Deploy both servers\n2) Click Switch \u2192 Server A, then Switch \u2192 Server B\n3) Watch client status and Read response while switching\n\nDemo TCP port: 10510 / 10511\n\nConfig nodes are flow-scoped: delete this tab to remove client/IO config."
  },
  {
    "id": "a15d7c809d364836",
    "type": "comment",
    "z": "8d3eed3a30b346f6",
    "name": "NODE: Modbus-Flex-Connector (runtime endpoint switch)",
    "info": "NODE: Modbus-Flex-Connector (runtime endpoint switch)\n\nFEATURES IN THIS FLOW\n- Reconnect the shared Modbus-Client to another TCP (or serial) endpoint at runtime\n- Two local Modbus-Servers (A=10510, B=10511) to demonstrate switching\n- Ongoing Modbus-Read continues against whichever endpoint is active\n\nWHAT THE CONFIG DOES\n- Client starts on Server A (tcpPort 10510)\n- Flex-Connector msg.payload: { connectorType:'TCP', tcpHost, tcpPort }\n- Serial switch uses connectorType SERIAL + serial* fields (not shown here)\n- Read node keeps using the same client config \u2014 only the socket target changes\n\nHOW TO RUN\n1) Deploy both servers\n2) Click Switch \u2192 Server A, then Switch \u2192 Server B\n3) Watch client status and Read response while switching\n\nDemo TCP port: 10510 / 10511\n\nConfig nodes are flow-scoped: delete this tab to remove client/IO config.",
    "x": 200,
    "y": 40,
    "wires": []
  },
  {
    "id": "adf58fe253344ce2",
    "type": "modbus-server",
    "z": "8d3eed3a30b346f6",
    "name": "Server A",
    "logEnabled": false,
    "hostname": "127.0.0.1",
    "serverPort": "10510",
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 10000,
    "holdingBufferSize": 10000,
    "inputBufferSize": 10000,
    "discreteBufferSize": 10000,
    "showErrors": false,
    "showStatusActivities": false,
    "x": 120,
    "y": 200,
    "wires": [
      [],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "8b34ff8949fb455c",
    "type": "modbus-server",
    "z": "8d3eed3a30b346f6",
    "name": "Server B",
    "logEnabled": false,
    "hostname": "127.0.0.1",
    "serverPort": "10511",
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 10000,
    "holdingBufferSize": 10000,
    "inputBufferSize": 10000,
    "discreteBufferSize": 10000,
    "showErrors": false,
    "showStatusActivities": false,
    "x": 120,
    "y": 280,
    "wires": [
      [],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "05e836f2dca24e23",
    "type": "modbus-client",
    "z": "8d3eed3a30b346f6",
    "name": "Switchable Client",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "127.0.0.1",
    "tcpPort": "10510",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "78b8f2d655a94ba2",
    "type": "inject",
    "z": "8d3eed3a30b346f6",
    "name": "Connect A :10510",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 380,
    "wires": [
      [
        "66d798f7de2f4165"
      ]
    ]
  },
  {
    "id": "66d798f7de2f4165",
    "type": "function",
    "z": "8d3eed3a30b346f6",
    "name": "TCP A",
    "func": "msg.payload = { connectorType: 'TCP', tcpHost: '127.0.0.1', tcpPort: 10510 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 380,
    "wires": [
      [
        "f1d986697c94428e"
      ]
    ]
  },
  {
    "id": "05fc08415a35499f",
    "type": "inject",
    "z": "8d3eed3a30b346f6",
    "name": "Connect B :10511",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 460,
    "wires": [
      [
        "8ee2d1791fc04895"
      ]
    ]
  },
  {
    "id": "8ee2d1791fc04895",
    "type": "function",
    "z": "8d3eed3a30b346f6",
    "name": "TCP B",
    "func": "msg.payload = { connectorType: 'TCP', tcpHost: '127.0.0.1', tcpPort: 10511 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 460,
    "wires": [
      [
        "f1d986697c94428e"
      ]
    ]
  },
  {
    "id": "f1d986697c94428e",
    "type": "modbus-flex-connector",
    "z": "8d3eed3a30b346f6",
    "name": "",
    "maxReconnectsPerMinute": 4,
    "emptyQueue": true,
    "showStatusActivities": true,
    "showErrors": true,
    "server": "05e836f2dca24e23",
    "x": 620,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "0f630ed514024968",
    "type": "modbus-read",
    "z": "8d3eed3a30b346f6",
    "name": "Poll active",
    "topic": "",
    "showStatusActivities": true,
    "logIOActivities": false,
    "showErrors": true,
    "showWarnings": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "2",
    "rate": "1",
    "rateUnit": "s",
    "delayOnStart": true,
    "startDelayTime": "2",
    "server": "05e836f2dca24e23",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "x": 620,
    "y": 520,
    "wires": [
      [
        "288e79b88cc74ce6"
      ],
      [
        "a98c9994f5934295"
      ]
    ]
  },
  {
    "id": "a98c9994f5934295",
    "type": "modbus-response",
    "z": "8d3eed3a30b346f6",
    "name": "",
    "registerShowMax": 20,
    "x": 840,
    "y": 600,
    "wires": []
  },
  {
    "id": "288e79b88cc74ce6",
    "type": "debug",
    "z": "8d3eed3a30b346f6",
    "name": "SEE: Poll active",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 840,
    "y": 440,
    "wires": []
  }
]
